<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Faces of Scranton</title>
</head>
<body>
    <nav><h1>Faces of<br><span>Scranton</span></h1>
        <img src="./images/the-office-icon.png" alt="">
    </nav>
    <main id="main">
        <div id="upload">
            <div>
                <input v-model="username" class="small-input" name="username" type="text" placeholder="username">
                <input v-model="title" class="small-input" name="title" type="text" placeholder="title">
                <input v-model="desc" class="long-input" name="desc" type="text" placeholder="description">
            </div>
            <input class="inputfile" id="file" name="file" type="file" accept="image/*" @change="setFile">
            <label for="file"><span>choose a file</span></label>
            <button class="light" @click="upload">upload</button>
        </div>
        <transition name="fade">
            <image-modal v-if="selectedImageId" :selected-image-id="selectedImageId" @close="closeModal" @prev="showPrev" @next="showNext"></image-modal>
        </transition>
        <div class="images">
            <a v-if="images.length > 0" v-for="image in images" :href="`/${image.id}`" @click.prevent="click(image.id)" class="image" >
                <img :src="image.url" :alt="image.title">
            </a>
        </div>
        <div v-if="moreImages" class="load-more">
            <button class="dark" @click="loadMore">load more</button>
        </div>
    </main>
    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
    <script src="/js/script.js" crossorigin="use-credentials"></script>
</body>
</html>