<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Image Board</title>
</head>
<body>
    <h1>Image Board</h1>
    <main id="main">
        <div id="upload">
            <input v-model="title" name="title" type="text" placeholder="title">
            <input name="username" type="text" placeholder="username">
            <input name="file" type="file" accept="image/*" @change="setFile">
            <button @click="upload">upload</button>
        </div>
        <div class="image" v-if="images.length > 0" v-for="image in images">
            <img :src="image.url" :alt="image.title">
            <h3>{{image.title}}</h3>
            <p>{{image.publDate}}</p>
        </div>
    </main>
    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
</body>
</html>