/*------------------------------------ FONT IMPORT ------------------------------------*/
@font-face {
    font-family: "Chivo";
    src: url("fonts/Chivo-Light.woff2") format("woff2"),
        url("fonts/Chivo-Light.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Chivo";
    src: url("fonts/Chivo-LightItalic.woff2") format("woff2"),
        url("fonts/Chivo-LightItalic.woff") format("woff");
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: "Chivo";
    src: url("fonts/Chivo-Regular.woff2") format("woff2"),
        url("fonts/Chivo-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Chivo";
    src: url("fonts/Chivo-Italic.woff2") format("woff2"),
        url("fonts/Chivo-Italic.woff") format("woff");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "Chivo";
    src: url("fonts/Chivo-Medium.woff2") format("woff2"),
        url("fonts/Chivo-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Chivo";
    src: url("fonts/Chivo-MediumItalic.woff2") format("woff2"),
        url("fonts/Chivo-MediumItalic.woff") format("woff");
    font-style: italic;
    font-weight: 500;
}

/*------------------------------------ GENERAL SETUP ------------------------------------*/

* {
    box-sizing: border-box;
    font-family: "Chivo";
    margin: 0;
}

/*------------------------------------ FONT STYLING ------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h3 {
    margin: 10px 0;
}

h5 {
    font-size: 1rem;
}

p {
    font-weight: 300;
}

/*--------------------------------------- NAVBAR ---------------------------------------*/

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0.5vw;
    z-index: 1;
    margin-top: 20px;
    background-color: black;
    color: white;
    width: 99vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    border-radius: 10px;
}

nav h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 3rem;
    line-height: 0.95;
}

nav h1 span {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 5rem;
    display: inline-block;
    transform: translateX(-5px);
}

nav img {
    height: 120px;
}

/*----------- UPLOAD INPUT FIELD ------------*/

input {
    font-size: 1.1rem;
    background-color: black;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    margin-right: 30px;
    margin-bottom: 10px;
}

input:focus-visible {
    outline: none;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label {
    overflow: hidden;
    white-space: nowrap;
    width: 155px;
    height: 50px;
}

.inputfile + label {
    font-size: 1.25em;
    padding: 10px 15px;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    border-radius: 200px;
    border: 2px solid black;
    transition: border ease-in-out 0.5s;
}

.inputfile:focus + label,
.inputfile + label:hover {
    border: 2px solid white;
    cursor: pointer;
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.small-input {
    width: calc(60vw / 2 - 15px);
}

.long-input {
    width: 60vw;
}

#upload {
    width: 99vw;
    height: 120px;
    background-color: black;
    margin-left: 0.5vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateY(-8px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
}

#upload div {
    width: min-content;
}

button {
    font-size: 1.2rem;
    padding: 10px 15px;
    border-radius: 200px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

button.dark {
    border: 2px solid peachpuff;
    background-color: peachpuff;
}

button.light {
    border: 2px solid white;
    background-color: white;
}

button.light:hover,
button.dark:hover {
    background-color: orangered;
    border-color: orangered;
    color: white;
}

/*---------------------------------------- IMAGES ---------------------------------------*/

.images {
    margin: 4px 0.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 99vw;
    grid-column-gap: 4px;
    border-radius: 10px;
    overflow: hidden;
}

.image > img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

/*---------------------------------------- LOAD MORE ---------------------------------------*/

.load-more {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

/*---------------------------------------- MODAL ---------------------------------------*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightbox {
    position: relative;
    width: 80%;
    height: 95%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 10px 80px 20px rgba(0, 0, 0, 0.3);
    display: grid;
    padding: 30px;
    grid-column-gap: 25px;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 50px 1fr 50px;
}

.lightbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 1 / -1;
}

.lightbox p {
    color: rgb(141, 141, 141);
    letter-spacing: 0.03rem;
    font-size: 0.9rem;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    padding: 0;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: transparent;
    color: black;
    font: inherit;
    text-indent: 100%;
    cursor: pointer;
}

.close:before,
.close:after {
    position: absolute;
    top: 15%;
    left: calc(50% - 0.0625em);
    width: 0.125em;
    height: 70%;
    border-radius: 0.125em;
    transform: rotate(45deg);
    background: currentcolor;
    content: "";
}

.close:after {
    transform: rotate(-45deg);
}

.close:hover {
    transform: scale(1.05);
}

.blur {
    filter: blur(34px);
    opacity: 0.5;
}

.disable-scroll {
    overflow: hidden;
    height: 100vh;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

/*---------------------------------------- COMMENTS ---------------------------------------*/

#comment-container {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

#comments {
    border-top: 2px solid black;
    max-height: 300px;
    overflow-y: scroll;
}

.comment {
    border-bottom: 1px solid lightgrey;
    padding: 12px 0;
}

.add-comment {
    margin-top: 30px;
}
